<!DOCTYPE html>
<head>
	<title>Itsnatsblog</title>
</head>
<body>
	<h1 style="font-family: monospace;"><%= thisBlog.title %></h1>
	</br>
	<img style="height:400px;max-width:500px;width: expression(this.width > 500 ? 500: true);" id="Happy_CpuDude" src="<%= thisBlog.pic %>" />
	<p style="font-family: monospace;"><b>by: <%= thisBlog.author %></b></p>
	<p style="font-family: monospace;"><%= thisBlog.post %></p>
			</br></center>
	<a style="font-family: monospace;" href="/blog/<%= thisBlog.id %>/edit">edit this post </a>

	<br><br><a style="font-family: monospace;" href="/">Back to ItsNatsBlog</a>

	<br><br><form method="POST" action="/blog/<%= thisBlog.id %>?_method=DELETE">
		<button>erase</button>
	</form>
</body>
</html>